@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


#quemSomos{
    background: linear-gradient(180deg, #FA951E 0%, rgba(255, 255, 255, 0) 100%), #E05891;
    height: 100%;
    display: flex;   
    flex-direction: column;  
}

h2 {
    margin-top: 50px;
    font-size: 40px;
    color: #202020;
}

.projeto{
    width: 100%;
    height: 95vh;
    background: rgba(253, 253, 253, 0.74);
    /* border-radius: 50%; */
    box-shadow: 3px 3px 3px 3px rgba(68, 20, 20, 0.2);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Bebas Neue', cursive;
}

.projeto h1 {
    font-size: 40px;
    margin-top: 80px;
    color: #202020
}

.projeto p {
    font-size: 30px;
    padding: 25px;
    text-align: center;
    color: #202020
}

.geralQuemSomos h1, h2, h4{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bebas Neue', cursive;

}
.geralQuemSomos h1{
    font-size: 70px;
    text-align: center;
}

@media only screen and (max-device-width: 900px){


    .projeto h1 {
        font-size: 40px;
        margin-top: 80px;
        color: #202020
    }
    
    .projeto p {
        font-size: 21px;
        padding: 25px;
        text-align: center;
        color: #202020
    }

    .projeto{
        width: 100%;
        height: 105vh;
        background: rgba(253, 253, 253, 0.74);
        /* border-radius: 50%; */
        box-shadow: 3px 3px 3px 3px rgba(68, 20, 20, 0.2);
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: 'Bebas Neue', cursive;
    }

  
}


