@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

#supremo {
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-teste {
  width: 90%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-content {
  width: 80%;
  height: 20vh;
}

.carousel-content h2 {
  margin-bottom: 30px;
}

.carousel-content img {
  margin-top: 9px;
  margin-left: 20px;

  width: 400px;
  height: 400px;
}

.car {
  width: 80%;
  height: 65vh;
}

.vai {
  width: 100%;
  display: flex;
  align-items: center;

  background-color: rgba(255, 255, 255, 0.185);
}

.coments {
  width: 40%;
  height: 60vh;

  margin-left: 70px;

  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #fff;
}

.coments img {
  width: 60px;
  height: 60px;

  margin-right: 10px;

  border-radius: 50%;
}

.coments-profile {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-right: 50px;
  margin-bottom: 100px;
}

.coment-box {
  width: 300px;
  height: 130px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  margin-top: -80px;
  margin-left: 50px;

  background-color: #f0f0f0;

  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
}


@media only screen and (max-device-width: 900px){

  #supremo {
    width: 100%;
    height: 30vh;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .carousel-teste {
    width: 100%;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .carousel-content {
    width: 80%;
    height: 20vh;
  }
  
  .carousel-content h2 {
    margin-bottom: 30px;
  }
  
  .carousel-content img {
    margin-top: 0px;
    margin-left: 0px;
  
    width: 500px;
    height: 500px;
  }
  
  .car {
    width: 0%;
    height: 68vh;
  }
  
  .vai {
    width: 0%;
    display: flex;
    align-items: center;
  
    background-color: rgba(255, 255, 255, 0.185);
  }
  
  .coments {
    width: 40%;
    height: 100vh;
  
    margin-left: 70px;
  
    display: flex;
    flex-direction: column;
    text-align: center;
    color: rgba(255, 255, 255, 0);
  }
  
  .coments img {
    width: 40px;
    height: 40px;
  
    margin-right: 10px;
    margin-left: ;
  
    border-radius: 50%;
  }
  
  .coments-profile {
    display: flex;
    justify-content: center;
    align-items: center;
  color: rgba(255, 255, 255, 0);
    margin-right: 0px;
    margin-bottom: 0px;
  }
  
  .coment-box {
    width: 0px;
    height: 0px;
  }

  .coments-profile img{
    width: 0px;
  }

 

}
