*{
    padding: 0%;
    margin: 0%;
}
.visitaGeral{
    width: 250px;
    height: 319px;
  background-color: rgba(255, 255, 255, 0.78);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  position: absolute;
  border-radius: 46px;

  margin: 150px 0 0 20px;
}



.visitaGeral  button{
    width: 150px;
    height: 40px;
  
    background-color: #FF961B;
  
    color: #fff;
    font-size: 20px;
    font-family: 'Bebas Neue', cursive;
  
    border: none;
    border-radius: 20px;
    left: 40px;
    margin: 25px;
  
    transition: filter 400ms;
    cursor: pointer;
}

.visitaGeral button:hover {
    filter: brightness(90%);
  }

  @media only screen and (max-device-width: 900px){



      .visitaGeral{
        width: 70%;
		float: right;
		text-align: center;
      }
    .visitaGeral{
      width: 70px;
      height: 419px;
    background-color: rgba(255, 255, 255, 0.78);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
    position: absolute;
    border-radius: 0px;
  
    margin: 80px 0 0 0px;
  }

  .visitaGeral  button{
    width: 65px;
    height: 40px;
  
    background-color: #FF961B;
  
    color: #fff;
    font-size: 15px;
    font-family: 'Bebas Neue', cursive;
  
    border: none;
    border-radius: 20px;
    left: 40px;
    margin: 25px;
  
    transition: filter 400ms;
}

  }