@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');




.sidebar-container {
  width: 15%;
  height: 790px;
  background-color: rgba(255, 255, 255, 0.78);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  margin: 90px 0 0 20px;
  border-radius: 46px;
}

.sidebar-container img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: -180px 0 30px 0;
}

.info {
  width: 175px;
  height: 30vh;
  background-color: rgba(255, 150, 27, 0.51);

  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 46px;
}

.info h3{
  margin-top: 15px;
  margin-bottom: 45px;
  font-size: 30px;
}

.info p{
  font-size: 15px;
  margin-top: -35px;
  

}


.info span {
  width: 150px;
  height: 50px;

 text-align: center;
 justify-content: center;
 font-size: 12px;

  background-color: #fff;

  color: #635B5B;
  border-radius: 9px;

}
.linkperfil{
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar-container button,  .linkperfil{
  width: 150px;
  height: 40px;

  background-color: #FF961B;

  color: #fff;
  font-size: 20px;
  font-family: 'Bebas Neue', cursive;

  border: none;
  border-radius: 20px;

  margin-top: 20px;

  transition: filter 400ms;
  text-decoration: none;
}

.sidebar-container button:hover, a:hover {
  filter: brightness(90%);
}