.depoimentotstm {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 300px;
  width: 500px;
  padding-left: 330px;
  }
  
  h3, p {
    font-family: 'Bebas Neue', cursive;
  }
  
  .depoimentotstm img {
    width: 100px !important;
    height: 100px !important;
  
    border-radius: 50%;
  
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
    }
  
    .depoimentotst-info {
      text-align: center;
      width: 200px;
      height: 180px;
      
    }
  
    .depoimentotst-info h3 {
      font-size: 25px;
      background: #FCE1CB;
      margin-top: 10px;
      width:230px ;
    }
  
    .depoimentotst-info p {
      font-size: 20px;
      background: #FCE1CB;
      width:230px ;
     display: flex;
     align-items: center;
     justify-content: center;
    
    }
  
  .depoimentotstm {
    margin-top: 80px;
    margin-bottom: 80px;
  }
  
  .text-box3 {
    width: 450px;
    height: 150px;
    background: rgba(255, 255, 255, 0.85);
    
    margin-left: 80px;
  margin: 20px;
    border-radius: 8px;
  
    display: flex;
    align-items: center;
    text-align: center;
  
    padding: 10px;
  }

  .text-box3ju{

    width: 450px;
    height: 250px;
    background: rgba(255, 255, 255, 0.85);
    
    margin-left: 80px;
  margin: 20px;
    border-radius: 8px;
  
    display: flex;
    align-items: center;
    text-align: center;
  
    padding: 10px;


  }

  @media only screen and (max-device-width: 900px){

    .depoimentotstm {
      display: flex;
      position: relative;
      justify-content: center;
      align-items: center;
      padding-top: 140px;
      width: 500px;
      /* padding-left: 6px; */
     margin-left: -398px;
    
   
      }
      
      .depoimentotstm img {
  
        width: 60px !important;
        height: 60px !important;
        
        border-radius: 50%;
      
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
        }
      
        .depoimentotst-info {
          text-align: center;
          
        }

        .text-box3 {
          width: 18vh;
          height: 200px;
          background: rgba(255, 255, 255, 0.85);
          
          margin-left: 10px;
        
          border-radius: 8px;
      
/*         
          display: flex;
          align-items: center;
          text-align: center; */
        
        }
      
  }